<!DOCTYPE html>
<html>
<head>
  <title>SketchMerge</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "fullcalendar.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <%= render "layouts/navigation" %>
    <%= render "layouts/messages" %>
	<%= yield %>
</div>
</body>
</html>
